@charset "UTF-8";

div#tv-radio {
    width: 900px;
    height: 580px;
    margin: auto;
    background: url("../_imagens/radio-tv.png");
}
div#tv-radio audio#musica {
    display: block;
    position: relative;
    left:574px;
    top:175px;
    width: 300px;
}
div#tv-radio iframe#yt-midia {
    display: block;
    position: relative;
    left:87px;
    top:80px;
    width: 440px;
}